body {
    font-family: Georgia, serif; 
}

body#profile {
    background-color: whitesmoke;
}

.register-error, .login-error {
    color: red;
    font-size: small;


}

.register-error::before, .login-error::before{
    content: "*"
}

.family-info{
    font-weight: bold;
    color: green;
    font-size: 1.3em;
}

.col {
    border: solid;
    border-color:teal;
    border-width: 3px;
}

.error-flash {
    color: red;
    font-size: large;
}

.profile-section {
    padding-top: 10px;
    color: #14471E;
}

h4 {
    color: #14471E;
}

.profile-data {
    color: #68904D;   
}

.navbar-expand {
    background-color: #C8D2D1;
}

.navbar {
    background-color: #E4E4E5;
}

.profile-container {
    max-width: 60vw;
    border-width: 1px;
    border-style: dotted;
}

#nav-username {
    font-weight: 600;
}