body {
    font-family: Georgia, serif; 
    font-size: calc(7px + 0.5vw);
    margin-bottom: 35px;
}

body#index {

    background-color: #4b6587;
}

.login-container {
    background-color: gray;
    padding-top: 25px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px silver;
}

.login-title {
    color: silver;
}

header {
    font-size: calc(4px + 0.7vw);
}  

footer {
    font-size: calc(1px + 0.7vw);
}  

body#profile,#wall {
    background-color: whitesmoke;
}

body#home,#create-family {
    background-color: rgba(90, 149, 154, 0.9);
    color: rgba(192, 192, 192, 1);    
}

#home main{
    font-weight: bold;
    color: hsl(0, 0%, 92%);
}

.profile-picture {
    width: calc(18px + 0.5vw);
    height: calc(18px + 0.5vw);
    border-radius: 50%;

}



body#family,#family_list,#wall,#polls,#start_poll {
    background-color: rgba(238, 155, 1, 0.7);
}

.register-error, .login-error {
    color: hsl(5, 60%, 45%);
    font-size: small;
}

.register-error::before, .login-error::before{
    content: "*"
}

.family-info{
    font-weight: bold;
    color: #68904D;
    font-size: 1.3em;
}

.error-flash {
    color: red;
    font-size: large;
}

.profile-section {
    padding-top: 10px;
    color: #14471E;
}

h4 {
    color: #14471E;
}

.profile-data {
    color: #68904D;   
}

.navbar-expand {
    background-color: #C8D2D1;
}

.navbar {
    background-color: #E4E4E5;
}


.contact-card {
    width: 18em;
}


.profile-container {
    max-width: 60vw;
    border-width: 1px;
    border-style: dotted;
}

#nav-username {
    font-weight: 600;
}

.post,.post-sys{
    border-style: dashed;
    border-width: 1.5px;
}

.post-time {
    font-style: italic;
    font-size: 0.8em;
}

.post-header {
    font-size: 0.9em;
}

.post-footer {
    font-size: 0.9em;
}



.post-wrapper {
    background-color: #e1ad6d;
    
}

.post {
    background-color: #ffdd8a;
}

.post-sys{
    background-color: #E4E4E5;
}

.post-content-sys {
    font-style: italic;
    font-size: 0.8em;
    
}

.btn-like {
    margin-right: 20px;
    padding: 5px;
    font-size: calc(0.9em + 0.1vw);
}

.btn-dislike {
    padding: 5px;
    font-size: calc(0.9em + 0.1vw);
}

.img-like-dislike{
    width: calc(1.1em + 0.4vw);
}

.alert {
    font-size: 0.7em;
}

.selection-span{
    color:#EE9B01;
    font-size: 1.1em;
}

h2.polls-title {

    font-weight: bold;
    color: #4B6587;

}

h4.poll{
    color:#AD8B73;
    font-weight: bold;
}

.poll {
    background-color: #ffdd8a;
    border-radius: 10px;
}


h6,h5.poll{
    color: #4B6587;
    font-size: 0.99em;
}

.form-start-poll {

    background-color: rgba(192, 192, 192, 0.8);
    border-radius: 10px;
    box-shadow: 3px 3px rgba(172, 172, 172, 0.9);
    
    
}

h6.poll{
    color: #4b6587;
    font-size: 0.8em;
}

a:hover{
    color: #fff;
}

.button-77 {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01,sans-serif;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    margin: 0;
    min-height: 64px;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
  }
  
  @media (min-width: 768px) {
    .button-77 {
      padding: 19px 32px;
    }
  }
  
  .button-77:before,
  .button-77:after {
    border-radius: 80px;
  }
  
  .button-77:before {
    background-color: rgba(249, 58, 19, .32);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
  }
  
  .button-77:after {
    background-color: initial;
    background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
  }
  
  .button-77:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
  }
  
  .button-77:active:not(:disabled) {
    color: #ccc;
  }
  
  .button-77:active:not(:disabled):after {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
  }
  
  .button-77:disabled {
    cursor: default;
    opacity: .24;
  }
