{% extends "index.html" %}

{% block title %} - Home {% endblock %}

{%block body_id %}family_list{% endblock %}

{% block main %}

    
    <div class="container mb-5">
        <div class="row row-cols-3 mb-3">
            <div class="">
                <a class="button-77" role="button" href="{{url_for ('family_list') }}">Member List</a>
            </div>
            <div class="">
                <a class="button-77"  href="{{ url_for('wall') }}">Wall</a>
            </div>
            <div class="">
                <a class="button-77"  href="{{ url_for('polls') }}">Polls</a>
            </div>
        </div>
    </div>

    <div class="container">
        
            <table class="table table-striped table-sm">
                <thead class="table-success">
                    <tr>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Birth Date</th>
                        <th>Joined to the Commune</th>
                        <th>Contact Details</th>
                    </tr>
                </thead>
                {% for member in family_members %}
                    <tr class="table-success">
                        <td>{{member['name']}}</td>
                        <td>{{member['last_name']}}</td>
                        <td>{{member['birth_date']}}</td>
                        <td>{{member['datetime(registration_date)'] | date}}</td>
                        <td><a class="btn btn-secondary btn-sm" method="get" href="{{url_for('family_member_contact', id=member['id'] )}}">Contact</a></td>
                    </tr>
                {% endfor %}
            </table>
        
        
    </div>



{% endblock %}