{% extends "index.html" %}

{% block title %} - Family Member Contact {% endblock %}

{% block main %}

    <div class="container mb-5">
        <div class="row row-cols-3 mb-3">
            <div class="">
                <a class="button-77" role="button" href="{{ url_for('family_list') }}">Member List</a>
            </div>
            <div class="">
                <a class="button-77"  href="{{ url_for('wall') }}">Wall</a>
            </div>
            <div class="">
                <a class="button-77"  href="{{ url_for('polls') }}">Polls</a>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">

        {% for contact in contact %}
            <div class="card mb-5 contact-card">

                {% if os.path.exists('static/profile_pictures/' + (contact['id'] | string) + '.jpg') %}
                    <img style="padding: 15px;" src="{{ url_for('static', filename='profile_pictures/' + (contact['id'] | string ) + '.jpg' ) }}" class="card-img-top" alt="...">
                {% else %}
                    <img style="padding: 15px;" src="{{ url_for('static', filename='profile_pictures/user.png') }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                  <h4 class="card-title">{{contact['name']}} {{contact['last_name']}}</h4>
                  <h6 class="card-text mb-0">Joined:</h6>
                  <p class="card-text">{{contact['datetime(registration_date)'] | date}}</p>
                  <p class="card-text">{{contact['email']}}</p>
                  <h6 class="card-text mb-0">Phone Number:</h6>
                  {% if contact['phone_number'] %}                    
                      <p class="card-text">{{contact['phone_number']}}</p>
                  {% else %}
                      <p class="card-text">-</p>
                  {% endif %}
                  <h6 class="card-text mb-0">Address:</h6>
                  {% if contact['address'] %}
                      <p class="card-text">{{contact['address']}}</p>
                  {% else %}
                      <p class="card-text">-</p>
                  {% endif %}
                  

                </div>
            </div>
        {% endfor %}
        
    </div>



{% endblock %}