{% extends "index.html" %}

{% block title %} - Home {% endblock %}

{%block body_id %}home{% endblock %}

{% block main %}

    <h4 class="text-center mb-3">Welcome</h4>
    
    <div class="container-sm mb-3">
        <p class="mb-5">YOU HAVE NOT CONNECTED TO A FAMILY</p>
        <div>
            <p>Click Here to Join</p>  
            <a href="{{url_for('join_family')}}" class="btn btn-success btn-sm">JOIN A FAMILY</a> 
        </div>
        <div class="mt-5">
            <p>Click Here to Create One Now!</p>
            <a href="/create-family" class="btn btn-success btn-sm">CREATE A FAMILY</a>
        </div>
    </div>


{% endblock %}