{% extends "index.html" %}

{% block title %} - Home {% endblock %}

{%block body_id %}home{% endblock %}

{% block main %}

    <h4 class="text-center mb-3">Welcome </h4>
    
    <div class="container-sm mb-3" style="border: solid;">
        <p>You have not connected to a family</p>
        <p>Click Here to Join : <a href="{{url_for('join_family')}}" class="btn btn-primary btn-sm">JOIN A FAMILY</a></p> 
        <p>Click Here to Create One Now! : <a href="/create-family" class="btn btn-primary btn-sm">CREATE A FAMILY</a></p>
    </div>


{% endblock %}