<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block script %}{% endblock %}
    <title>Commune {% block title %} {% endblock %}</title>
</head>
<body id="{%block body_id %}index{% endblock %}">
    <header>
        <section>
            <nav role="navigation" class="navbar border navbar-expand-md mb-5">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"> <span>COMMUNE</span></a>
                    <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="navbar" class="collapse navbar-collapse">
                        {% if not session["user_id"] %}
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a href="/register" class="btn">Register</a>
                                    <a href="/login" class="btn">Login</a>
                                </li>
                            </ul>
                        {% else %}
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item" style="margin-right: 5px;">
                                    <span class="nav-link text-sm-start" id="nav-username">{{session['username']}}</span>
                                </li>
                                <li class="nav-item" style="padding: 5px;">
                                    {% if os.path.exists('static/profile_pictures/' + (session['user_id'] | string) + '.jpg') %}
                                    <img class="profile-picture" src="{{ url_for('static', filename='profile_pictures/' + (session['user_id'] | string ) + '.jpg' ) }}" alt="Profile Picture">
                                    {% else %}
                                    <img class="profile-picture" src="{{ url_for('static', filename='profile_pictures/user.png') }}" alt="Profile Picture">
                                    {% endif %}
                                </li>
                                <li class="nav-item">
                                    <a href="{{ url_for('profile') }}" class="btn nav-link">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ url_for('logout') }}" class="btn nav-link">Logout</a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </section>
    </header>
    
    <main class="text-center">
        {% block main %}

        <h3 class="text-center mb-4 login-title">LOGIN</h3>
        <h6 class="text-center mb-4 login-title">Email or Username</h6>
        
        <div class="login-container container w-25">
            <form action="/login" method="post">
                <div class="mb-4">
                    <div class="login-name">
                            {% if form["login-name"] %}
                                <input type="text" autofocus autocomplete="on" class="form-control mx-auto w-auto mb-3" name ="login-name" value="{{form['login-name']}}" placeholder="Username *">
                            {% else %}
                                <input type="text" autofocus autocomplete="on" class="form-control mx-auto w-auto mb-3" name ="login-name" placeholder="Username *">    
                            {% endif %}
                    </div>
                    <div class="email">
        
                            {% if form["email"] %}
                                <input type="text" autofocus autocomplete="on" class="form-control mx-auto w-auto mb-3" name ="email" value="{{form['email']}}" placeholder="Email *">
                            {% else %}
                                <input type="text" autofocus autocomplete="on" class="form-control mx-auto w-auto mb-3" name ="email" placeholder="Email *">
                            {% endif %}
                    </div>
                    <div class="password">
                            {% if form["password"] %}
                                <input type="password" autofocus autocomplete="on" class="form-control mx-auto w-auto mb-3" name ="password" value="{{form['password']}}" placeholder="Password *">
                            {% else %}
                                <input type="password" autofocus autocomplete="on" class="form-control mx-auto w-auto mb-3" name ="password" placeholder="Password *">    
                            {% endif %}
                    </div>
                    {% if errors["login"] %}
                            <div class="login-error mb-3">{{errors["login"]}}</div>
                    {% endif %}
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit">Login</button>          
                    </div>
                </div>
            </form>
        </div>

        {% endblock %}
    </main>

    <footer>
        <nav class="navbar fixed-bottom">
            <div class="container-fluid">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <span>Copyright</span>                        
                    </li>
                </ul>
            </div>
        </nav>
    </footer>
    
</body>

</html>