<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block script %}{% endblock %}
    <title>Commune {% block title %} {% endblock %}</title>
</head>
<body id="{%block body_id %} {% endblock %}">
    <header>
        <section>
            <nav role="navigation" class="navbar border navbar-expand-md mb-5">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"> <span>COMMUNE</span></a>
                    <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="navbar" class="collapse navbar-collapse">
                        {% if not session["user_id"] %}
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a href="/register" class="btn">Register</a>
                                    <a href="/login" class="btn">Login</a>
                                </li>
                            </ul>
                        {% else %}
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item" style="padding: 0.5em; margin-right: 3px;">
                                    <span class="" id="nav-username">{{session['username']}}</span>
                                </li>
                                <li class="nav-item" style="padding: 5px;">
                                    {% if os.path.exists('static/profile_pictures/' + (session['user_id'] | string) + '.jpg') %}
                                    <img width="30vw" height="auto" style="border-radius: 50%;" src="{{ url_for('static', filename='profile_pictures/' + (session['user_id'] | string ) + '.jpg' ) }}">
                                    {% else %}
                                    <img width="30vw" height="auto" style="border-radius: 50%;" src="{{ url_for('static', filename='profile_pictures/user.png') }}" alt="...">
                                    {% endif %}
                                </li>
                                <li class="nav-item">
                                    <a href="{{ url_for('profile') }}" class="btn nav-link">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ url_for('logout') }}" class="btn nav-link">Logout</a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </section>
    </header>
    
    <main class="text-center">
        {% block main %}

        {% endblock %}
    </main>

    <footer>
        <nav class="navbar fixed-bottom">
            <div class="container-fluid">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <span>Copyright</span>                        
                    </li>
                </ul>
            </div>
        </nav>
    </footer>
    
</body>

</html>