{% extends "index.html" %}

{% block title %} - Login {% endblock %}

{% block main %}

<h3 class="text-center mb-4 login-title">LOGIN</h3>
<h6 class="text-center mb-4 login-title">Email or Username</h6>

<div class="login-container container w-25">
    <form action="/login" method="post">
        <div class="mb-4">
            <div class="login-name">
                    {% if form["login-name"] %}
                        <input type="text" autofocus autocomplete="on" class="form-control mx-auto w-auto mb-3" name ="login-name" value="{{form['login-name']}}" placeholder="Username *">
                    {% else %}
                        <input type="text" autofocus autocomplete="on" class="form-control mx-auto w-auto mb-3" name ="login-name" placeholder="Username *">    
                    {% endif %}
            </div>
            <div class="email">

                    {% if form["email"] %}
                        <input type="text" autofocus autocomplete="on" class="form-control mx-auto w-auto mb-3" name ="email" value="{{form['email']}}" placeholder="Email *">
                    {% else %}
                        <input type="text" autofocus autocomplete="on" class="form-control mx-auto w-auto mb-3" name ="email" placeholder="Email *">
                    {% endif %}
            </div>
            <div class="password">
                    {% if form["password"] %}
                        <input type="password" autofocus autocomplete="on" class="form-control mx-auto w-auto mb-3" name ="password" value="{{form['password']}}" placeholder="Password *">
                    {% else %}
                        <input type="password" autofocus autocomplete="on" class="form-control mx-auto w-auto mb-3" name ="password" placeholder="Password *">    
                    {% endif %}
            </div>
            {% if errors["login"] %}
                    <div class="login-error mb-3">{{errors["login"]}}</div>
            {% endif %}
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Login</button>          
            </div>
        </div>
    </form>
</div>

{% endblock %}