{% extends "index.html" %}

{% block title %} - Home {% endblock %}

{%block body_id %}profile{% endblock %}

{% block main %}

    {% if get_flashed_messages %}

        {% with messages = get_flashed_messages() %}

            {% for message in messages %}

                <div class="mb-3 error-flash">{{ message }}</div>

            {% endfor %}

        {% endwith %}

    {% endif %}

    <h4 style="font-weight: lighter;" class="mb-3">Profile Details</h4>

    {% for profile_data in profile_data %}

    <!-- Profile Picture -->
    <div class="container mb-5">
        <div class="container p-3 profile-container">
            <h5 class="profile-section">Profile Picture</h5>
            {% if os.path.exists('static/profile_pictures/' + (session['user_id'] | string) + '.jpg') %}
                <img style="padding-top: 15px; padding-bottom: 15px; width: 5rem;" src="{{ url_for('static', filename='profile_pictures/' + (session['user_id'] | string ) + '.jpg' ) }}" class="card-img-top" alt="...">
            {% else %}
                <img style="padding-top: 15px; padding-bottom: 15px; width: 5rem;" src="{{ url_for('static', filename='profile_pictures/user.png') }}" class="card-img-top" alt="...">
            {% endif %}
            <form action="{{ url_for('upload_photo', photo='upload') }}" method="post" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <input class="form-control" type="file" name="photo" id="pp">
                    <button class="input-group-text" type="submit">Upload</button>        
                </div>
            </form>
            <a style="width: 5em;" class="btn btn-outline-danger btn-sm mb-3" href="{{ url_for('upload_photo', photo='delete') }}">Delete</a>
        </div>
        
        <!-- Address -->
        <div class="container p-3 profile-container">
            <h5 class="profile-section">Address:</h5>
            {% if profile_data['address'] %}
                <span class="profile-data">{{profile_data['address']}}</span><br>
            {% else %}
                <span></span><br>
            {% endif %}
            <div class="">
                <a style="width: 5em; margin-top: 15px; margin-bottom: 15px;" class="btn btn-outline-primary btn-sm" id="update_address">Update</a>
                <a style="width: 5em;" class="btn btn-outline-danger btn-sm" href="{{ url_for('update_profile_info', update='delete-address') }}">Delete</a>
            </div>
        </div>

        <!-- Phone Number -->
        <div class="container p-3 profile-container">
            <h5 class="profile-section">Phone Number:</h5>
            {% if profile_data['phone_number'] %}
                <span class="profile-data">{{profile_data['phone_number']}}</span><br>
            {% else %}
                <span></span><br>
            {% endif %}
            <a style="width: 5em; margin-top: 15px; margin-bottom: 15px;" class="btn btn-outline-primary btn-sm" id="update_phone_number">Update</a>
            <a style="width: 5em;" class="btn btn-outline-danger btn-sm" href="{{ url_for('update_profile_info', update='delete-phone_number') }}">Delete</a>
        </div>

        <!-- Email -->
        <div class="container p-3 profile-container">
            <h5 class="profile-section">Email:</h5>
            <span class="profile-data">{{profile_data['email']}}</span>
        </div>

    </div>
    {% endfor %}

    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel"  aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="modal-title"></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" id="contact-info-update-form" method="post">
                <div class="modal-body">    
                    <div class="mb-3">
                        <label for="message-text" id="modal-title-2"class="col-form-label"></label>
                        <textarea class="form-control" name="" id="update-text"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>                
          </div>
        </div>
    </div>

{% endblock %}

