{% extends "index.html" %}

{% block title %} - Start New Poll {% endblock %}

{%block body_id %}start_poll{% endblock %}

{% block script %}
    <script src="{{url_for('static', filename='jquery.js')}}"></script>
    <script defer src="{{url_for('static', filename='modal.js')}}"></script>
    <script defer src="{{url_for('static', filename='createPoll.js')}}"></script>
{% endblock %}

{% block main %}

{% if get_flashed_messages %}

{% with messages = get_flashed_messages() %}

    {% for message in messages %}

    <div class="alert alert-warning alert-dismissible fade show w-50 container" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %}

{% endwith %}

{% endif %}

<div class="container poll-wrapper p-3">

    <h4 class="header">Start New Poll</h4>

    <div class="p-3 container poll-create">
        <form action="{{url_for('start_poll')}}" class="form-control form-start-poll p-5" method="post">
            <div class="row form-group">
                <div id="lastDate-container" class="d-flex justify-content-center gap-5 mb-2 form-group">
                    <div class="col-lg-2">
                        <label class="mt-2" for="poll-lastDate">Active Until</label>
                    </div>
                    <div class="col-lg-2">
                        <input type="date" autocomplete="off" name="last_date" class="form-control w-75" id="poll-lastDate">
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div id="maxSelection-container" class="d-flex justify-content-center gap-5 mb-2 form-group">
                    <div class="col-lg-2">
                        <label class="mt-2" for="poll-maxSelection">Max. Selections</label>
                    </div>
                    <div class="col-lg-2">
                        <input type="number" autocomplete="off" name="max_selection" class="form-control w-75" id="poll-maxSelection">
                    </div>
                </div>
            </div>
            <div class="row form-group">
                    {% if form['question'] %}
                        <div id="question-container" class="d-flex justify-content-center gap-5">
                            <div class="col-lg-2">
                                <label class="mt-2" for="poll-question">Question</label>
                            </div>
                            <div class="col-lg-5">
                                <input type="text" autocomplete="off" name="question" class="form-control" id="poll-question" value="{{form['question']}}">
                            </div>
                        </div>
            <div class="row form-group">
                    {% else %}
                        <div id="question-container" class="d-flex justify-content-center gap-5">
                            <div class="col-lg-2">
                                <label class="mt-2" for="poll-question">Question</label>
                            </div>
                            <div class="col-lg-2 w-50">
                                <input type="text" autocomplete="off" name="question" class="form-control" id="poll-question">
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <button class="btn btn-secondary btn-sm mt-3 mb-3" id="btn-add-selection" type="button">Add Selection</button>
            
            <div class="selections">
            
                {% for selection in selections %}

                <div class='selection-container d-flex justify-content-center gap-5 mt-2' rank="{{loop.index0}}">
                    <label class='mt-2' for='poll-selection-{{loop.index0}}'>Selection-{{loop.index0+1}}</label>
                    <input type='text' autocomplete='off' name="selection-{{loop.index0}}" class='form-control w-50' id='poll-selection-{{loop.index0}}' value="{{selection}}"></input>
                    <button type='button' class='btn btn-remove-selection btn-sm' value='{{loop.index0}}'>Remove</button>
                </div>

                {% endfor %}
                
            </div>
            
            <button id="btn-submit" class="btn btn-sm btn-success mt-5" type="submit">Create</button>
        </form>
        

    </div>
</div>

{% endblock %}

