body {
    font-family: Georgia, serif; 
    font-size: calc(7px + 0.7vw);
}

header {
    font-size: calc(4px + 0.7vw);
}  

footer {
    font-size: calc(1px + 0.7vw);
}  

body#profile {
    background-color: whitesmoke;
}

body#family {
    background-color: #EE9B01;
}

.register-error, .login-error {
    color: red;
    font-size: small;
}

.register-error::before, .login-error::before{
    content: "*"
}

.family-info{
    font-weight: bold;
    color: #68904D;
    font-size: 1.3em;
}

.col {
    
    border-style: groove;
    border-color: #68904D;
}

.error-flash {
    color: red;
    font-size: large;
}

.profile-section {
    padding-top: 10px;
    color: #14471E;
}

h4 {
    color: #14471E;
}

.profile-data {
    color: #68904D;   
}

.navbar-expand {
    background-color: #C8D2D1;
}

.navbar {
    background-color: #E4E4E5;
}

.profile-container {
    max-width: 60vw;
    border-width: 1px;
    border-style: dotted;
}

#nav-username {
    font-weight: 600;
}

.post-time {
    font-style: italic;
    font-size: 0.8em;
}

.post-header {
    font-size: 0.9em;
}

.post-footer {
    font-size: 0.9em;
}

.post-wrapper {
    background-color: #e1ad6d;
    
}

.posts {
    background-color: #ffdd8a;
}

.post-content {

}

.btn-like {
    margin-right: 20px;
    padding: 5px;
}

.btn-dislike {
    padding: 5px;
}

